<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.4/phpunit.xsd"
         bootstrap="./vendor/autoload.php"
         colors="true">
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="integration">
      <directory>./tests/Integration/Client</directory>
    </testsuite>
    <testsuite name="unit">
      <directory>tests/Unit/Client</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL"/>
  </php>
</phpunit>
